
*{
    /* padding : ; */
    margin : 1% 1% 1% 1%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*dark theme starts */
html {
  font-family: 'Montserrat';
  --bg: #FCFCFC;
  --bg-panel: #d9d9d9;
  --color-headings: #0077FF;
  --color-text: #333333;
  --bg-slider: rgba(166, 166, 166, 0.933);
  --slider-text: #262626  ;
  --bg-about: #efefef;
--url: url("../images/chem1.jpg");
  --filter:invert(0%);
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #ff9c38;
  --color-text: #B5B5B5;
  --bg-slider: #111111;
  --slider-text: #818181  ;
  --bg-about: #1a1a1a;
  --url: url("../images/chem1.jpg");
--filter:invert(100%);
  
}


body {
background-color: var(--bg);
    color : --color-text;
    margin-left:1% ;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom:1%;
    font-size: 35px;


}
@-ms-viewport{
    zoom: 1.0;
    width:extend-to-zoom;
    
}
@-o-viewport{
    zoom: 1.0;
    width:extend-to-zoom;
    
}
@viewport{
    zoom: 1.0;
    width:extend-to-zoom;
    
}


   #header {
    min-height:10px ;
    background-color:var(--bg-panel);
    border-radius: 4px;
    color:var(--color-text);
    text-align: center ;

   
}
#header span {
  /* min-height:10px ; */
  height: 40.2px;
  /* width: 50px; */
  /* background-color:var(--bg-panel); */
  border-radius: 4px;
  color:var(--color-text);
  /* text-align: center ; */
  
 
}
#table1{
    /* width: ;
    height: ;  */
    text-align: center;
    overflow: scroll; 
    border: white 1px dashed ; 
    border-radius: 10px;
   background-image:var(--url); 
  -webkit-filter: var(--filter); 
          filter: var(--filter);
    font-size: 10;
   position: relative;
    -webkit-animation: animate 16s ease-in-out infinite;
            animation: animate 16s ease-in-out infinite;
    background-size: cover;
   /* background-color: white;*/
    color:aliceblue;
}

#footer{
    min-height: 10px;
    margin-top: 3%;
    background-color:  crimson;
    border-radius: 4px;
    text-align: center;

}
 /* elements details starts */
.emptySpace{
    background-color:none;
    Border: 1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
}
.nonmetals{
    background-color: yellow;
    border: 1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
        font-size: 39px;
}
.halogens{
    background-color: limegreen ;
    border:  1px;
    font-size: 39px;
    
}
.metalloids{
    background-color: blueviolet;
    border:   1px;
    font-size: 39px;
    
}
.noblegases{
    
    background-color: violet;
    border:1px;
    font-size: 39px;
    
}
.posttransistionmetal{
  background-color:   deepskyblue;
    border: 1px;
    font-size: 39px;
    
}
.alkalimetals{
    background-color: #DC1512;
    border: 1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
        font-size: 39px;
}
.alkaliearhmetals{
    background-color: aqua;
    border:1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
        font-size: 39px;
    
}


.transitionmetals{
    background-color: lightcoral;
    border:1px;
    font-size: 39px;
}
.lanthanides{
    background-color: chartreuse;
    border:1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
        font-size: 39px;
}
.actinides{
 background-color: fuchsia;
    border: 1px;
-webkit-filter: var(--filter);
        filter: var(--filter);
        font-size: 39px;
    
}
    /* elements details ends */
/*group details starts*/

#groupdetails{
text-align: center;
    overflow: scroll; 
    border: white 1px dashed ; 
    /* border-radius: 50px; */
    font-size:  30px;
-webkit-filter: var(--filter);
        filter: var(--filter);
}


/*group details ends*/
table{
   display: inline-block;
    /* margin: ; */
		min-height: 100%;
    /* min-width:100%; */
    -webkit-transform: scale(0.);
        -ms-transform: scale(0.);
            transform: scale(0.);
    position: relative;
    table-layout: fixed;
    max-width: 100%;
}



/*popup start here*/
#details{
   font-size: 50%;
    
    /* overflow: scroll;  */
    /* border: white 1px dashed ;  */
    /* border-radius: 10px; */
    /* background-image:var(--url); */
}
a{
    text-decoration: none;
    color:black;
}
#X-button{
    text-align: end;
    margin: -10px 0px -10px 0px;
    /* font-size: 5; */
    
}
#X {
    color:black;
    /* background-color: black; */
    padding: 05px 10px 05px 10px;
   
}
h3{
    color:var(--color-headings);
    display: inline;
}
.popup-container {
  position: fixed;
  background-color:var(--bg-panel);
  color:var(--color-text);
  width:40%;
  height: 70%;
  text-align: center;
  max-width: 1000px;
  left: 50%;
  padding: 20px;
  border-radius: 5px;
border: grey solid;

  -webkit-transform: translate(-50%, -2000%);
  -ms-transform: translate(-50%, -2000%);
  transform: translate(-50%, -2000%);

  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.popup:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.popup:target:before {
  display: block;
}

.popup:target .popup-container {
  top: 20%;

  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#popup-close {}

.elemimg{
max-width:200px;
display:block;
margin:auto;
border-radius:20px;

}

/* slider starts */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  font-size:35px  ;
  right : 0;
  background-color: var(--bg-slider);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--slider-text);
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 6vw;
  margin-left: 50px;
}

.myabout {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  
  background-color:   var(--bg-about);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  
}
.myabout  {
  
/*  text-decoration: none;
  font-size: 25px;
  color: #818181;*/
  left:0;
  display: block;

  
    font-family: 'Handlee', cursive;
    font-size: 40px;
  

}
p {
    padding: 10px;
    margin: 0;
    text-align: justify;
    color:var(--color-text);
}
.img-circle {
    border: 3px  ;
    border-radius: 50%;
}
.section{
    background-color: var(--color-panel);
    padding:10px ;
    margin-bottom: 10px;
    border-radius: 20px;
}
#profile{
    background-image: url("../images/bg.jpg  ");
    background-size: cover;
    /*min-height: auto;
  margin: auto;*/
    
}
#profile img {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    
}

#profile p {
    font-size: 50px;
    color: rgb(218, 218, 218);
    padding-top: 10px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 40px;
    text-align: right;
    margin-top: 10px;
    color:var(--color-text);
}
.myabout .closebtn {
  position: absolute;
  top: -10px;
  right: 25px;
  font-size: 80px;
  margin-left: 50px;
	color:var(--color-text);
  
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
			span{
  	  	font-size:30px;
 		   float: right;
		    cursor:pointer;
 		   margin-top: -2px;
		    margin-right: 15px;
		    padding: 0px 0px 0px 0px;
			color:rgb(255, 255, 255);
			}


.toggletheme {
  
  /* text-decoration: none; */
  font-size: 35px;
  
  
  -webkit-transition: 0.3s;
  
  -o-transition: 0.3s;
  
  transition: 0.3s;
   
}
.textalign{
/* -webkit-box-flex:5; */
    /* -ms-flex:5; */
        /* flex:5; */
        padding-left: 22px;
        color:var(--slider-text) ;
}
.buttonalign{
  /* -webkit-box-flex:1; */
      /* -ms-flex:1; */
          /* flex:1; */
          /* size: 10px; */
  margin-top: -48px;
  }
.toggletheme{
/* display:-webkit-box; */
/* display:-ms-flexbox; */
/* display:flex; */

padding: 8px 8px 8px px;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
}
/*checkbox*/
.position{
   -webkit-box-flex:1;
       -ms-flex:1;
           flex:1;
  
}
input[type="checkbox"]{
    position: relative;
    height: 25px;
    width: 40px;
    -moz-appearance:none;
         appearance:none;
    -webkit-appearance:none;
    background: #c6c6c6;
    border-radius: 25% 25% 25% 25% / 50% 50% 50% 50% ;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
input:checked[type="checkbox"]{
    background: #03a9f4;
    
}
input[type="checkbox"]:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    background: #ffffff;
    height: 25px;
    width:25px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}
input:checked[type="checkbox"]:before{
    left:15px;
}

